{% extends "semantic/index.html" %}
{% load staticfiles %}
{% load template_extras %}
<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
				<!-- Main -->
{%block main%}	
	<div id="main">

						<!-- Post -->
								
												
								<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Sourcecode</a></h2>
										</div>
								
								</header>
								
								<p>Diese Webseite wurde mit dem <a href="https://www.djangoproject.com/">Django Web Framework</a> erstellt. Der Sourcecode ist im <a href="https://bitbucket.org/53454E4F4A/semantic">git Repository</a> 
								zu erreichen.</p>
							</article>
						
					</div>
{%endblock%}