{% extends "semantic/index.html" %}
{% load staticfiles %}
{% load template_extras %}
<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
				<!-- Main -->
{%block main%}	
	<div id="main">

						<!-- Post -->
								
							{%for chap in chapters %}		
							<article class="post">
								<header>
									<div class="title">
										<h2 id="chapter{{chap.number}}">{{ chap }}</h2>
									</div>
									
								</header>
							<!--	<span class="image small"><img src="/static/semantic/images/pic01.jpg" alt="" /></span>-->
								{% for page in chap.pages.all %}<p id="page{{page.number}}">{% autoescape off %} {{ page.content  }} {%endautoescape%}</p>
								<!--<footer>
									<ul class="stats pagebottom" style="text-align:center">
									
										<li><a href="#">{% if page.chapter.parent %}{{ page.chapter.parent }}{%else%}Kapitel {{forloop.counter}}{%endif%}</a></li>
										<li><a href="#" class="">{{ page.number }}</a></li>
										<li><a href="#">{{ page.chapter }}</a></li>
									</ul>
								</footer>-->
								{%endfor%}

								{% for subchap in chap.subchapters.all %}
							
								<h3 id="chapter{{subchap.parent.number}}{{subchap.number}}">{{ subchap }}</h3>
							<!--	<span class="image small"><img src="/static/semantic/images/pic01.jpg" alt="" /></span>-->
										{% for page in subchap.pages.all %}
										<p id="page{{page.number}}">{% autoescape off %} {{ page.content  }} {%endautoescape%}</p>

										{%endfor%}
								
								
								{%endfor%}
							</article>	
							{%endfor%}							
							
							
					</div>
{%endblock%}