{% load staticfiles %}
{% load template_extras %}
<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Semantic Web - eine Einführung</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/static/semantic/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static "semantic/assets/css/main.css" %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static "semantic/assets/css/ie9.css" %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static "semantic/assets/css/ie8.css" %}" /><![endif]-->
	</head>
	<body class="single">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1 style="font-size: 0.7em;">Semantic Web</h1>
						<nav class="links">
							<ul>
								<li><a href="/semantic/content">Inhalt</a></li>
								<li><a href="/semantic/resources">Resourcen</a></li>
								<li><a href="/semantic/sources">Quellen</a></li>
								<li><a href="https://bitbucket.org/53454E4F4A/semantic">Code</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							

						<!-- Links -->
							<section>
								<ul class="links">
									{%for chap in chapters %}
									<li>
										
											<h3><a href="/semantic/content#chapter{{ chap.number }}">{{ chap.number }}. {{ chap }}</a></h3>
											<li style="text-align:center">
											{% for page in chap.pages.all %}<a href="/semantic/content#page{{ page.number }}" class="pageno">{{ page.number }}</a>{%endfor%}
											
											
										</li>
											{% for subchap in chap.subchapters.all %}
											<li>
											<a href="/semantic/content#chapter{{ chap.number }}{{ subchap.number }}">
													<p>{{ chap.number }}.{{ subchap.number }} {{ subchap }}</p>
											
											</a>
										</li>
										<li  style="text-align:center">
											{% for page in subchap.pages.all %}<a href="/semantic/content#page{{ page.number }}" class="pageno">{{ page.number }}</a>{%endfor%}
											
											
										</li>
											{%endfor%}
											
									
									</li>
									
									{%endfor%}
									
								</ul>
							</section>

						<!-- 
							<section>
								<ul class="actions vertical">
									<li><a href="#" class="button big fit">Log In</a></li>
								</ul>
							</section>Actions -->

					</section>

				<!-- Main -->
					{%block main %}
					{%endblock%}

				<!-- Footer -->
					<section id="footer">
						<ul class="icons">
						
							<li><a href="mailto:jonas(dot)schaeufler(at)haw-hamburg.de" class="fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright"> Semantic Web 2016. <a href="/impressum">IMPRESSUM</a>.  </p>
						<p class="copyright"> DESIGN: <a href="http://html5up.net">HTML5UP</a></p>
					</section>

			</div>

		<!-- Scripts -->
			<script src="{% static "ecksdi/assets/js/jquery-2.2.1.min.js" %}" ></script>
			<script src="{% static "semantic/assets/js/skel.min.js" %}"></script>
			<script src="{% static "semantic/assets/js/util.js" %}"></script>
			<script src="{% static "semantic/assets/js/main.js" %}"></script>

	</body>
</html>