{% extends "semantic/index.html" %}
{% load staticfiles %}
{% load template_extras %}
<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
				<!-- Main -->
{%block main%}	
	<div id="main">

						<!-- Post -->
								
												
							<article class="post">
								
								<h2 style="margin-top:0em">IDs für Model: {{mname}}</h2>
								<p>
								{%for m in models %}
									<a href="/semantic/{{mname}}/{{m.id}}">{{m.id}}</a>
									{% if not forloop.last %}
									,
									{%endif%}
								{%endfor%}
								</p>
							</article>
						
					</div>
{%endblock%}