{% extends "semantic/index.html" %}
{% load staticfiles %}
{% load template_extras %}
<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
				<!-- Main -->
{%block main%}	
	<div id="main">

						<!-- Post -->
								
							
							<article class="post">
						
							<!--	<span class="image small"><img src="/static/semantic/images/pic01.jpg" alt="" /></span>-->
								<p>{% autoescape off %} {{ page.content  }} {%endautoescape%}</p>
								<footer>
									<ul class="stats pagebottom" style="text-align:center">
									
										<li><a href="#">{% if page.chapter.parent %}{{ page.chapter.parent }}{%else%}{%endif%}</a></li>
										<li><a href="#" class="">{{ page.number }}</a></li>
										<li><a href="#">{{ page.chapter }}</a></li>
									</ul>
								</footer>
							
							</article>	
												
							
							<!--<ul class="actions pagination" style="text-align:center;">
								<li><a href="" class="disabled button big previous">Previous</a></li>
								<li><a href="#" class="button big next">Next</a></li>
							</ul>-->
					</div>
{%endblock%}