{% extends "semantic/index.html" %}
{% load staticfiles %}
{% load template_extras %}
<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
				<!-- Main -->
{%block main%}	
	<div id="main">

						<!-- Post -->
								
												
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Resourcen</a></h2>
										</div>
								
								</header>
								
						
						
								<h2 style="margin-top:0em">Websites</h2>
								<table class="" style="width:100%;margin:auto;">
								{%for website in websites %}
									<tr id="website{{website.id}}"><td><a href="{{ website.link }}" class=""> {{ website.name }}</a></td>
									<td style="text-align:right;">{{ website.description }}</td>
									<td style="text-align:right;width:3em;font-size:small;"><a href="/semantic/website/{{website.id}}/rdf">RDF</a></td>
									</tr>
								{%endfor%}
								</table>
						
						
						
								<h2 style="margin-top:2em">Tools</h2>
								<table class="" style="width:100%;margin:auto;">
								{%for tool in tools %}
									<tr id="tool{{tool.id}}"><td><a href="{{ tool.link }}" class=""> {{ tool.name }}</a></td>
									<td style="text-align:right;">{{ tool.description }}</td>
									<td style="text-align:right;width:3em;font-size:small;"><a href="/semantic/tool/{{tool.id}}/rdf">RDF</a></td>
									</tr>
								{%endfor%}
								</table>
								<h2 style="margin-top:2em">Books & Articles</h2>
								<table class="" style="width:100%;margin:auto;">
								{%for book in books %}
									<tr id="book{{book.id}}"><td><a href="{{ book.link }}" class=""> {{ book.name }}</a></td>
									<td style="text-align:right;">{{ book.description }}</td>
									<td style="text-align:right;width:3em;font-size:small;"><a href="/semantic/book/{{book.id}}/rdf">RDF</a></td>
									</tr>
								{%endfor%}
								</table>
								
								
								
								
							</article>
						
					</div>
{%endblock%}