{% load staticfiles %}
{% load template_extras %}
<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Semantic Web</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/static/semantic/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static "semantic/assets/css/main.css" %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static "semantic/assets/css/ie9.css" %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static "semantic/assets/css/ie8.css" %}" /><![endif]-->
	</head>
	<body class="single">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="#">Semantic Web</a></h1>
						<nav class="links">
							<ul>
								<li><a href="#">Inhalt</a></li>
								<li><a href="#">Quellen</a></li>
								<li><a href="#">Tools</a></li>
								<li><a href="#">Disclaimer</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									{%for chap in chapters %}
									<li>
										
											<h3>{{ forloop.counter }}. {{ chap }}</h3>
											<li>
											{% for page in chap.pages.all %}<a href="#" class="pageno">{{ page.number  }}</a>{%endfor%}
											
											
										</li>
											{% for subchap in chap.subchapters.all %}
											<li>
											<a href="#">
													<p>1.{{ forloop.counter }} {{ subchap }}</p>
											
											</a>
										</li>
										<li>
											{% for page in subchap.pages.all %}<a href="#" class="pageno">{{ page.number }}</a>{%endfor%}
											
											
										</li>
											{%endfor%}
											
									
									</li>
									
									{%endfor%}
									
								</ul>
							</section>

						<!-- 
							<section>
								<ul class="actions vertical">
									<li><a href="#" class="button big fit">Log In</a></li>
								</ul>
							</section>Actions -->

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
								
							{%for chap in chapters %}		
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">{{ chap }}</a></h2>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">November 1, 2015</time>
										<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>
							<!--	<span class="image small"><img src="/static/semantic/images/pic01.jpg" alt="" /></span>-->
								{% for page in chap.pages.all %}<p>{{ page.content  }}</p>
								<footer>
									<ul class="stats">
										<li><a href="#">{{ page.parent.chapter }}</a></li>
										<li><a href="#">{{ page.chapter }}</a></li>
										<li><a href="#" class="icon fa-heart">{{ page.number }}</a></li>
										<li><a href="#" class="icon fa-comment">128</a></li>
									</ul>
								</footer>
								{%endfor%}

								{% for subchap in chap.subchapters.all %}
								
									<header>
									<div class="title">
										<h4><a href="#">{{ chap }}: {{ subchap }}</a></h4>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">November 1, 2015</time>
										<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>
							<!--	<span class="image small"><img src="/static/semantic/images/pic01.jpg" alt="" /></span>-->
										{% for page in subchap.pages.all %}
										<p>{{ page.content  }}</p>
										<footer>
											<ul class="stats">
												<li><a href="#">{{ page.chapter.parent }}:</a></li>
												<li><a href="#">{{ page.chapter }}</a></li>
												<li><a href="#" class="icon fa-heart">{{ page.number }}</a></li>
												<li><a href="#" class="icon fa-comment">128</a></li>
											</ul>
										</footer>
										{%endfor%}
								
								
								{%endfor%}
							</article>	
							{%endfor%}							
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Magna sed adipiscing</a></h2>
										<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">November 1, 2015</time>
										<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
								<p>Nunc quis dui scelerisque, scelerisque urna ut, dapibus orci. Sed vitae condimentum lectus, ut imperdiet quam. Maecenas in justo ut nulla aliquam sodales vel at ligula. Sed blandit diam odio, sed fringilla lectus molestie sit amet. Praesent eu tortor viverra lorem mattis pulvinar feugiat in turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ullamcorper tellus sit amet mattis dignissim. Phasellus ut metus ligula. Curabitur nec leo turpis. Ut gravida purus quis erat pretium, sed pellentesque massa elementum. Fusce vestibulum porta augue, at mattis justo. Integer sed sapien fringilla, dapibus risus id, faucibus ante. Pellentesque mattis nunc sit amet tortor pellentesque, non placerat neque viverra. </p>
								<footer>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon fa-heart">28</a></li>
										<li><a href="#" class="icon fa-comment">128</a></li>
									</ul>
								</footer>
							</article>
							<ul class="actions pagination" style="text-align:center;">
								<li><a href="" class="disabled button big previous">Previous Page</a></li>
								<li><a href="#" class="button big next">Next Page</a></li>
							</ul>
					</div>

				<!-- Footer -->
					<section id="footer">
						<ul class="icons">
							<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright"> Semantic Web. <a href="http://html5up.net">IMPRESSUM</a></p>
					</section>

			</div>

		<!-- Scripts -->
			<script src="{% static "ecksdi/assets/js/jquery-2.2.1.min.js" %}" ></script>
			<script src="{% static "semantic/assets/js/skel.min.js" %}"></script>
			<script src="{% static "semantic/assets/js/util.js" %}"></script>
			<script src="{% static "semantic/assets/js/main.js" %}"></script>

	</body>
</html>