{% extends "semantic/index.html" %}
{% load staticfiles %}
{% load template_extras %}
<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
				<!-- Main -->
{%block main%}	
	<div id="main">

						<!-- Post -->
								
												
							<article class="post">
		
								
								
								<h2 style="margin-top:0em">Quellen</h2>
								<table class="links" style="width:100%;margin:auto;">
								{%for source in sources %}
									<tr><td><a href="{{ source.link }}" class=""> {{ source.name }}</a></td>
									<td style="text-align:right;">{{ source.description }}</td>
									
									</tr>
								{%endfor%}
								</table>
								<h2 style="margin-top:2em">verwendete Software</h2>
								<table class="links" style="width:100%;margin:auto;">
								
									<tr><td><a href="https://www.djangoproject.com/" class="">Django Web Framework</a></td>									
									</tr>
									<tr><td><a href="https://html5up.net/" class="">HTML5 Template: Future Imperfect. Thanks @ajlkn from HTML5UP!</a></td>									
									</tr>
								</table>
								
							</article>
						
					</div>
{%endblock%}